@import "compass/css3";


body{
  background-color: #1e2123;
}


/* ===================== FILE INPUT ===================== */
.file-area {
  width: 100%;
  position: relative;
  
  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255,255,255,0.2);
    border: 2px dashed rgba(255,255,255,0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
    
    .success {
      display: none;
    }
  }
  
  &:hover .file-dummy {
    background: rgba(255,255,255,0.1);
  }
  
  input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input[type=file]:valid + .file-dummy {
    border-color: rgba(0,255,0,0.4);
    background-color: rgba(0,255,0,0.3);

    .success {
      display: inline-block;
    }
    .default {
      display: none;
    }
  }
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 13px;
    text-align: left;
  }

  input{
    width: 50%
  }

  input:focus {
    background-color: transparent;
    outline: none;
    color: #fff;
}


textarea{
    height: 300px;
    
    
}

.form-control{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.form-control:focus {
    background-color: transparent;
    outline: none;
    color: #fff;
}

button {
    background-color: #e75f8c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    width: 35%;
}

button i{
   margin-right: 12px;
}

.left{
    text-align: left;
}

.upload-form{
  width: 80%;
  background-color: #1e2123;
  padding: 5%;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .upload-form {
      width: 100%;
  }
}

.upload-form input{
  margin: 0;
}

.upload-form input{
  margin: 0;
}

.select2-container--default .select2-selection--multiple {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
}

.select2-results__option[aria-selected=true]:before {
  background-color: #e75f8c;
}

.select2-results__option{
  background-color: rgba(0, 0, 0, 0.851);
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #474a4a;
}

.pd-0{
  padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear{
  color:#fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #e75f8c;
  color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
}

.select2-container--default .select2-results__option[aria-selected="true"]{
  background-color: #474a4a;
}

.select2-results__option,.select2-results__option--highlighted{
  color: #fff;
  border: 0;
}

selection{
  width: 80%;
}

.selection{
  display: flex;
  justify-content: center;
  text-justify: center;
  
}

.m-0{
  margin: 0;
}

.select2-selection .select2-selection--multiple{
  width: 100%;
}

.row .m-0{
  width: 100%;
}